<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>The NetSuite Cloud Computing Series</title>
</head>
<body>

	<!-- REGISTER -->
	<table width="560" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="1" color="#231f20" style="font-size:10px;"><a href="https://forms.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=NLCORP&formid=1246&h=ad94ecafd0e2dd2443f6" target="_blank"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="1" color="#778ba9">Register</font></a> for the NetSuite Cloud Computing Seminar, March 11, 2010, Costa Mesa</font></td>
		</tr>
	</table>
	<!-- /REGISTER -->
	
	<!-- SPACER -->
	<table width="1" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="10" border="0" /></td>
		</tr>
	</table>
	<!-- /SPACER -->
	
	<!-- MAST -->
	<table width="560" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
		  <td><img src="https://system.netsuite.com/core/media/media.nl?id=1331098&amp;c=NLCORP&amp;h=f0423bacddaaebb423d6" alt="The NetSuite Cloud Computing Seminar Series - The Business Cloud: How Cloud Computing and Business Management Suites are Forever Changing the Way Companies Run Their Businesses 
" width="560" height="129" border="0" /></td>
		</tr>
	</table>
	<!-- /MAST -->
	
	<!-- SPACER -->
	<table width="1" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="20" border="0" /></td>
		</tr>
	</table>
	<!-- /SPACER -->
	
	<!-- MAIN CONTENT -->		
	<table width="560" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<!-- LEFT COLUMN -->
			<td width="152">		
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr valign="top">
						<td width="10"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="10" height="1" border="0" /></td>
						<td>
							<font face="Arial,Helvetica,Verdana,Sans-Serif" size="1" color="#231f20" style="font-size: 11px;">
								<font size="2px" style="font-size: 12px;" color="#00467f"><strong>Event Details</strong></font><br /><br />
							<strong>Thursday<br />
							March 11, 2010<br />8:30&#8211;11:45 am</strong><br />
								<br />
								
								<strong>Westin South Coast Plaza</strong><br />
								686 Anton Blvd<br />
Costa Mesa, CA 92626<br />
714.540.2500<br />
<br />
<font size="2px" style="font-size: 12px;"><strong><a href="http://www.netsuite.com/portal/press/events/clouds-computing-orange-county.shtml" target="_blank">Event Website</a></strong></font><br />
<br />
							</font>						</td>
					</tr>
				</table>
					
				<a href="https://forms.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=NLCORP&formid=1246&h=ad94ecafd0e2dd2443f6" target="_blank"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331078&amp;c=NLCORP&amp;h=c9e53fa521c1e3d6cb88" alt="RSVP Now" width="150" height="33" border="0" /></a>
				
				
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
				  <tr valign="top">
						<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="6" border="0" /></td>
					</tr>
				</table>
				
				
				<table width="100%" bgcolor="#cccccc" cellpadding="0" cellspacing="0" border="0">
					<tr valign="top">
						<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="1" border="0" /></td>
					</tr>
				</table>
				
				
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr valign="top">
						<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="10" border="0" /></td>
					</tr>
				</table>
				
				
				<!-- WHO SHOULD ATTEND -->				
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr valign="top">
						<td width="10"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="10" height="1" border="0" /></td>
						<td>
							
							<font face="Arial,Helvetica,Verdana,Sans-Serif" size="1" color="#231f20" style="font-size: 11px;">
								<font size="2px" style="font-size: 12px;"><strong>Who Should Attend</strong></font><br />If you&#8217;re a senior executive, finance director or accounting manager, or if you&#8217;re responsible for your firm&#8217;s business software, then this event is for you.<br />
							</font>						</td>
					</tr>
				</table>
				<!-- /WHO SHOULD ATTEND -->
			</td>
			<!-- / LEFT COLUMN -->
			
			<td width="20" rowspan="2"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="20" height="1" border="0" /></td>
			
			<!-- RIGHT COLUMN -->
			<td width="380" rowspan="2">
				<font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">
				
				<font face="Arial,Helvetica,Verdana,Sans-Serif" size="3" color="#00467f" style="font-size: 14px;"><strong>The Cloud is Changing Everything</strong></font><br /><br />
				<a href="https://forms.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=NLCORP&formid=1246&h=ad94ecafd0e2dd2443f6" target="_blank"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2"><strong>Please join us</strong></font></a><strong> for the  NetSuite Cloud Computing Seminar on Thursday, March 11, at the Westin South Coast Plaza,</strong> to discover how cloud computing and business management  suites are transforming the financial and business operations of companies all  over the world.<br />
				<br />
				<a href="https://forms.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=NLCORP&formid=1246&h=ad94ecafd0e2dd2443f6" target="_blank">You&#8217;ll hear</a> from NetSuite CEO, NetSuite partners and an expert panel of financial executives who have moved their key business operations to the cloud&#8212;and are slashing IT costs and driving high performance.<br />
				<br />
				
				
				<font face="Arial,Helvetica,Verdana,Sans-Serif" size="3" color="#00467f" style="font-size: 14px;"><strong>What You&#8217;ll Learn</strong></font><br /><br />
				
				<a href="https://forms.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=NLCORP&formid=1246&h=ad94ecafd0e2dd2443f6" target="_blank"><strong>At this complimentary seminar</strong></a>, you&#8217;ll learn:<br />
				<br /></font>

				<table width="100%" cellpadding="0" cellspacing="3" border="0">
				  <tr valign="top">
						<td width="10"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20"><strong>&bull;&nbsp;</strong></font></td>
						<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">
							What the buzz around cloud computing is all about&#8212;and why it&rsquo;s becoming a business priority
						</font></td>
				  </tr>
					<tr valign="top">
						<td width="10"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20"><strong>&bull;&nbsp;</strong></font></td>
						<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">
							Why cloud computing is the more efficient, cheaper and greener way to reduce both IT costs and energy usage
						</font></td>
					</tr>
					<tr valign="top">
						<td width="10"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20"><strong>&bull;&nbsp;</strong></font></td>
						<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">
							How you can finally manage your multi-subsidiary and multinational operations in real-time, gain local control and visibility and simplify multi-currency financial consolidation
						</font></td>
					</tr>
					<tr valign="top">
						<td width="10"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20"><strong>&bull;&nbsp;</strong></font></td>
						<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">
							 How real-time dashboards, analytics and continuous planning can give your company a competitive advantage.
						</font></td>
					</tr>
			  </table>
	
				<!-- SPACER -->
				<table width="1" cellpadding="0" cellspacing="0" border="0">
					<tr valign="top">
						<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="20" border="0" /></td>
					</tr>
				</table>

				<!-- /SPACER -->
				
				<!-- AGENDA BOX TOP -->
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331076&amp;c=NLCORP&amp;h=eb9ec671dda458ee8167" alt="Agenda" width="380" height="25" border="0" /></td>
					</tr>
				</table>
				<!-- /AGENDA BOX TOP -->
				
				<!-- AGENDA CONTAINER -->
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr valign="top">
						<td width="1" bgcolor="#cccccc"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="1" border="0" /></td>
						<td width="7"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="7" height="1" border="0" /></td>
						<td>				
							<!-- AGENDA CONTENT -->
							<table width="100%" cellpadding="0" cellspacing="3" border="0">
								<tr valign="top">
									<td width="97" nowrap="nowrap"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">8:30&#8211;9:00 am</font></td>
									<td width="258"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">Registration and Continental Breakfast</font></td>
								</tr>
								<tr valign="top">
									<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">9:00&#8211;9:15 am</font></td>
								    <td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">Welcome and Introductions</font></td>
								</tr>
								<tr valign="top">
								  <td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">9:15&#8211;9:45 am</font></td>
								  <td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">&ldquo;</font><font color="#231f20" size="2" face="Arial, Helvetica, sans-serif">Reduce Risk and Streamline Compliance with Cloud Computing</font><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">&rdquo;<br />
							      								  </font></td>
							  </tr>
								
								<tr valign="top">
									<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">9:45&#8211;10:30 am</font></td>
									<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">&ldquo;How the Cloud Transforms Business Management&rdquo;<br />
										 
										</font></td>
								</tr>
								<tr valign="top">
									<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">10:30&#8211;11:00 am</font></td>
									<td><font color="#231f20" size="2" face="Arial, Helvetica, sans-serif">&ldquo;On-Demand Budgeting, Forecasting and Reporting&rdquo;<br />
								   								</font></td>
								</tr>
								
								<tr valign="top">
									<td nowrap="nowrap"><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">11:00&#8211;11:45 am</font></td>
									<td><font face="Arial,Helvetica,Verdana,Sans-Serif" size="2" color="#231f20">Executive Panel: &ldquo;How the Cloud Changes Everything&rdquo;</font></td>
								</tr>
							</table>
							<!-- /AGENDA CONTENT -->
		        </td>
						<td width="7"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="7" height="1" border="0" /></td>
						<td width="1" bgcolor="#cccccc"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="1" border="0" /></td>
					</tr>
				</table>
				<!-- /AGENDA CONTAINER -->			
				
				<!-- AGENDA BOX BTM -->
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331066&amp;c=NLCORP&amp;h=c819be456bd7d55a517d" alt="" width="380" height="10" border="0" /></td>
					</tr>
				</table>
				<!-- /AGENDA BOX BTM -->
	
				<!-- SPACER -->
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr valign="top">
						<td><br />
						  <p><font size="2"><strong><font face="Arial, Helvetica, sans-serif">RSVP</font></strong> <font face="Arial, Helvetica, sans-serif"><br />
						    <strong><a href="https://forms.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=NLCORP&formid=1246&h=ad94ecafd0e2dd2443f6" target="_blank">RSVP here</a></strong>. <font color="#231f20">If you have questions regarding this event, please email</font> <a href="mailto:events@netsuite.com" title="mailto:events@netsuite.com">events@netsuite.com</a></font></font>.<br />
				          <br />
                          </p>
					  </td>
				  </tr>
				</table>
				<!-- /SPACER -->
	    </td>
			<!-- /RIGHT COLUMN -->
			<td width="10" rowspan="2"><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="10" height="1" border="0" /></td>
			
			<!-- BOTTOM IMAGE -->
	  <tr>
				<td valign="bottom">
				<img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331096&amp;c=NLCORP&amp;h=574f2096ec28cc004c6e" width="150" height="235" alt="" border="" />				</td>
			</tr>
			
		</tr>
	</table>
	<!-- /MAIN CONTENT -->
	
	<!-- SPACER -->
	<table width="1" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="1" border="0" /></td>
		</tr>
	</table>
	<!-- /SPACER -->
	
	<!-- SPACER -->
	<table width="560" bgcolor="#b9c7d4" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="20" border="0" /></td>
		</tr>
	</table>


<table width="560" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td width="293"><font size="1" face="Arial, Helvetica, sans-serif">&nbsp; &nbsp;</font><br />		    
		    <img src="https://system.netsuite.com/core/media/media.nl?id=1331081&amp;c=NLCORP&amp;h=c51f3915e4b0e81e91f6" alt="NetSuite" width="177" height="38" hspace="2" vspace="15" border="0" /></td>
			<td width="267">
		     </td>
		</tr>
	</table>
	<!-- /SPACER -->
	
	<!-- SPACER -->
  <table width="1" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td><img style="display: block;" src="https://system.netsuite.com/core/media/media.nl?id=1331091&c=NLCORP&h=73ae8c5985e4dd29329b" alt="" width="1" height="10" border="0" /></td>
		</tr>
	</table>
	<!-- /SPACER -->
	
		
</body>
</html>
