@CHARSET "ISO-8859-1";
.dragged { position: absolute; top: 0; opacity: 0.5; z-index: 2000; }
#sortFields.vertical li { display: block; margin: 5px; padding: 5px; border: 1px solid #cccccc; color: #0088cc; background: #eeeeee; }
#sortFields.simple_with_animation { border: 1px solid #999999; }
#sortFields.vertical { margin: 0 0 9px 0; min-height: 10px;}
#sortFields{ list-style-type: none;}
#sortFields{ list-style: decimal;}
#sortFields{ padding: 0; margin: 0 0 9px 25px; max-width: 290px;}
#sortFields li.dragged { background-color: #2c2c2c; }
#sortFields li { list-style: none; cursor: pointer; background: #333333; color: #999999; border: 1px solid; text-align: center; border-radius: 4px; font-size: 14px; font-weight: bolder;}